{% extends 'recipes/base.html' %}
{% load staticfiles %}

{% block js %}
<script type="text/javascript">
	function loadDoc(url) {
		var xhttp = new XMLHttpRequest();
		xhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) {
				document.getElementById("about_creator").innerHTML =
				this.responseText;
			}
		};
		xhttp.open("GET", url , true);
		xhttp.send();
	}
</script>
{% endblock %}

{% block title_block %}
  About
{% endblock %}


{% block name_block %}
	<h7><strong>About the Neighborhood Cookbook</strong></h7>
 
{% endblock %}

{% block body_block %}

    <div class = "center">
        <p>
        <h8>Welcome to the Neighborhood Cookbook!<br> Here, you can browse recipes created by normal people. These   recipes are tried and true, from you to you. <br> Create an account and you can leave reviews and ratings on other users recipes, and post your own recipes! <br> What are you waiting for? Share your creativity with the world on the Neighborhood Cookbook.
        </h8>
        <p>
        <h7><strong>About The Creators</strong></h7>
        <p>
    
        {% if chefs %}
            {% for chef in chefs %}
                    {% if chef.user.is_staff %}
                        {% with abouturl="/static/about_"|add:chef.user.username|add:".txt" %}
                            <button type="submit" onclick="loadDoc('{{ abouturl }}')"><img src="{{ MEDIA_URL }}{{ chef.photo }}" alt="Picture of {{ chef.user.get_full_name }}" height="100" /></button>
                        {% endwith %}
                    {% endif %}
            {% endfor %}
        {% else %}
            <strong>There are no admins present.</strong>
        {% endif %}
        <br/>
        <div id="about_creator"></div>
        <h5> This website was designed by Lynda, Amy, Qiufei and Eve </h5>
    </div>
{% endblock %}
