{% extends 'recipes/base.html' %}
{% load staticfiles %}

{% block title_block %}
  About
{% endblock %}

{% block name_block %}
	About the Creators
{% endblock %}

{% block body_block %}
<a href="{% url 'index' %}"><img src="{% static "images/logo.png" %}" alt="Website Logo" width="250" align="right"/></a>
	{% if chefs %}
		{% for chef in chefs %}
			<div>
				{% if chef.user.is_staff %}
					<img src="{{ MEDIA_URL }}{{ chef.photo }}" alt="Picture of {{ chef.user.get_full_name }}" height="100" />
				{% endif %}
			</div>
		{% endfor %}
	{% else %}
		<strong>There are no admins present.</strong>
	{% endif %}
	<h4> This website was designed by Lynda, Amy, Qiufei and Eve </h4>
{% endblock %}
