<!DOCTYPE html>
{% load staticfiles %}

<html>
	<head lang="en">
    <meta charset="utf-8" />
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
	<title>
		{% block title_block %}
			Neighborhood Cookbook
		{% endblock %}
    </title>
	</head>
 	<div class="header">
		<a class="base" href="{% url 'index' %}"><img src="{% static "images/logo.png" %}" alt="Website Logo" width="170"/></a>
		<a class="base" href="{% url 'trending' %}">Trending</a>
		<a class="base" href="{% url 'categories' %}">Categories</a>
		{% if user.is_authenticated %}
			<a class="base" href="{% url 'userprofile' user.username %}">My Account</a>
			<a class="base" href="{% url 'addrecipe' %}">Add Recipe</a>
			<a class="base" href="{% url 'logout' %}">Logout</a>
		{% else %}

			<a class="base" href="{% url 'login' %}">Login</a>
			<a class="base" href="{% url 'register' %}">Sign Up</a>
		{% endif %}
	</div>

	<body>
    <div>
      {% block body_block %}
      {% endblock %}
    </div>
	</body>

  <div class="footer">
    <a class="base" href="{% url 'about' %}">About the Creators</a>
    <a class="base" href="{% url 'contact' %}">Contact Us</a>
	<a class="base" href="{% url 'faq' %}">FAQs</a>
    {% if user.is_authenticated %}
      <a class="base" href="{% url 'suggestion' %}">Suggest a Category</a>
    {% endif %}
  </div>
</html>