<!DOCTYPE html>
{% load staticfiles %}

<html>
	<head lang="en">
    <meta charset="utf-8" />
		<title>
      Welcome to the
      {% block title_block %}
        Neighborhood Cookbook
      {% endblock %}
    </title>
	</head>
  <div>
    <a href="{% url 'index' %}"><img src="{% static "images/logo.png" %}" alt="Website Logo" width="160" height="90"/></a>

  </div>
	<body>

    <div>
      {% block body_block %}
      {% endblock %}
    </div>

    <div>
      <a href="{% url 'about' %}">About</a>

    </div>

	</body>
</html>
