<!DOCTYPE html>
{% load staticfiles %}

<html>
	<head lang="en">
		<meta charset="utf-8" content="width=device-width, height=device-height" />
		<link href="{% static 'css/main.css' %}" rel="stylesheet" />
		<title>
			Nbhd Cookbook -
			{% block title_block %}
			{% endblock %}
		</title>
		{% block js %}
		{% endblock %}
	</head>
	<body>
		<header>
			<ul>
			<li style="float:left;"><a href="{% url 'index' %}"><img src="{% static "images/logo.png" %}" alt="Website Logo" width="150" /></a></li>
			<div class="urls">
				{% if user.is_authenticated %}
					<li style="float:right; padding-top:12px; padding-left:5px; padding-right:20px;"><a href="{% url 'logout' %}">Logout</a></li>
					<li style="float:right; padding-top:12px; padding-left:5px;"><a href="{% url 'addrecipe' %}">Add Recipe</a></li>
					<li style="float:right; padding-top:12px; padding-left:5px;"><a href="{% url 'userprofile' user.username %}">My Account</a></li>
				{% else %}
					<li style="float:right; padding-top:12px; padding-left:5px; padding-right:30px;"><a href="{% url 'login' %}">Login</a></li>
					<li style="float:right; padding-top:12px; padding-left:5px;"><a href="{% url 'register' %}">Sign Up</a></li>
				{% endif %}
				<li style="float:right; padding-top:12px; padding-left:5px;"><a href="{% url 'categories' %}">Categories</a></li>
				<li style="float:right; padding-top:12px; padding-left:5px;"><a href="{% url 'trending' %}">Trending</a></li>
			</div>
			</ul>
		</header>
		<div class="body">
			<div class="page_name">
				{% block name_block %}
				{% endblock %}
			</div>
			<div>
				{% block body_block %}
				{% endblock %}
			</div>
		</div>
		<footer>
			<div class="urls">
				<a href="{% url 'about' %}">About Us</a>
				<a href="{% url 'contact' %}">Contact Us</a>
				<a href="{% url 'faq' %}">FAQs</a>
				{% if user.is_authenticated %}
					<a href="{% url 'suggestion' %}">Suggest a Category</a>
				{% endif %}
			</div>
		</footer>
	</body>
</html>
