{% extends 'recipes/base.html' %}
{% load staticfiles %}



{% block body_block %}

    <div class="container">
        <h1>Change My Password</h1>
        <h4>If your password is changed successfully, you will be redirected to the home page! </h4>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}


            <button type="submit">Submit</button>
        </form>
        <br>
		<div class="urls">
            {% if user.is_authenticated %}
                <a href="{% url 'edit_profile' user.username %}">Cancel</a>
            {% endif %}
            <br>
        </div>
    </div>
{% endblock %}
