{% extends 'recipes/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Contact Us
{% endblock %}

{% block name_block %}
	Contact Us
{% endblock %}

{% block body_block %}
<div class="contact"> 
    <h2> Fill out the form below </h2>
    <form id="contactus_form" method="post" action={% url 'contact' %}>
		{% csrf_token %}
		{% for field in form.visible_fields %}
			{{ field.errors }}
			{{ field.label }}<br>
			{% if field.help_text %}
	        	<p class="help">{{ field.help_text }}</p>
	        {% endif %}
			{{ field }}<br>
		{% endfor %}
		<input type="submit" name="submit" value="Submit" class="button"/>
	</form>
</div>
{% endblock %}
