{% extends 'recipes/base.html' %}
{% load staticfiles %}


{% block js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
  $(".btn1").click(function(){
    $("p").hide();
  });
  $(".btn2").click(function(){
    $("p").show();
  });
});
</script>
{% endblock %}


{% block title_block %}
    FAQ
{% endblock %}

{% block name_block %}
	FAQs
{% endblock %}

{% block body_block %}

<button class="button" onclick="document.getElementById('demo').innerHTML=Date()">What is the time?</button>

<h4 id="demo"></h4>

<h1> How can we help? </h1>

<h3> How do I make an account?</h3>

<p> You can make an account using our sign up option located at the top of the screen </p>

<h3> Do I have to be logged in to leave a review? </h3>

<p> Yes, in order to leave a review and comment you have to be logged in. You can view all the recipes without being logged in. </p>

<button class="btn1">Hide</button>
<button class="btn2">Show</button>

{% endblock %}
