{% extends 'recipes/base.html' %}
{% load staticfiles %}

{% block title_block %}
  Index
{% endblock %}

{% block body_block %}

  <p>superuser username: wad2 password: wad2teamproject</p>
  <h3>Recipes</h3>
  {% if recipes %}
  <ul>
    {% for recipe in recipes %}
      <li>
        {{ recipe.name }} -- {{ recipe.chef }}
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <strong>There are no recipes present.</strong>
  {% endif %}

  <h3>Dinner Recipes</h3>
  {% if dinners %}
  <ul>
    {% for dinner in dinners %}
      <li>
        {{ dinner.name }} -- {{ dinner.chef }}
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <strong>There are no dinner recipes present.</strong>
  {% endif %}

  <h3>Categories</h3>
  {% if cats %}
  <ul>
    {% for cat in cats %}
        {% if cat.type == 'SUB' %}
          <li>{{ cat.supercat }} -- {{ cat.name }}, Likes: {{ cat.likes }}, ID: {{ cat.id }}</li>
        {% else %}
          <li>{{ cat.name }}, Likes: {{ cat.likes }}, ID: {{ cat.id }}</li>
        {% endif %}
    {% endfor %}
  </ul>
  {% else %}
    <strong>There are no categories present.</strong>
  {% endif %}

{% endblock %}
