{% extends 'recipes/base.html' %}
{% load staticfiles %}

{% block title_block %}
  {{ chef.user.username }}
{% endblock %}

{% block body_block %}
	<img src="{{ MEDIA_URL }}profile_pics/{{ chef.photo }}" alt="Picture of {{ chef.user.first_name }}" width="30%"/><br>
	Username: {{ chef.user.username }}<br>
	Full name: {{ chef.user.get_full_name }}<br>
	Date joined: {{ chef.user.date_joined }}<br>
	<h3>Recipes</h3>
	{% if recipes %}
		{% for recipe in recipes %}
			<a href="{% url 'viewrecipe' recipe.slug %}">{{ recipe.name }}</a><br>
		{% endfor %}
	{% else %}
		<strong>User has not created any recipes.</strong>
	{% endif %}

	<h3>Reviews</h3>
	{% if reviews %}
		{% for review in reviews %}
			<a href="{% url 'viewrecipe' review.recipe.slug %}">{{ review.recipe }}</a> -- {{ review.title }}<br>
		{% endfor %}
	{% else %}
		<strong>User has not given any reviews.</strong>
	{% endif %}
{% endblock %}
