{% extends 'recipes/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Trending
{% endblock %}

{% block name_block %}
	Trending
{% endblock %}

{% block body_block %}
	{% if recipes %}
	<div class="row">
		{% for recipe in recipes %}
			<div class="cat">
					<a href="{% url 'viewrecipe' recipe.slug %}"><img src="{{ MEDIA_URL }}{{ recipe.photo }}" alt="Picture of {{ recipe.photo }}"/></a>
					<div class="cat_text">{{ recipe.name }}</div>
			</div>
		{% endfor %}
	</div>
	{% endif %}
{% endblock %}
